/****************DISPLAY FLEX*****************/

@mixin flex-row {
    display:flex;
    flex-direction:row;
}

@mixin flex-column {
    display:flex;
    flex-direction:column;
}

/*****************DISPLAYS***************************/

.topbar-container,
.form-li {
    @include flex-row;
}

.contact,
.a-propos,
.boutique,
.categorie-container {
    @include flex-column;
}

.header,
footer,
.button-container,
.colored-footer,
.white-footer {
    display:flex;
}

.card {
    display:block;
}

.casques-container {
    display:grid;
    grid-template-columns: repeat(4, 3fr);
    row-gap:0px;
    column-gap: 5%;
    @media (max-width:768px) {
        @include flex-column;
        align-items:center;
    }
}

/************POSITIONS**************************/

.header__h1,
.header__h2,
footer,
.colored-footer,
.white-footer,
.boutique-footer {
    position:absolute;
}

.topbar-container {
    position:relative;
}

/*****************JUSTIFY-CONTENT & ALIGN-ITEMS*************************/

.topbar-container,
.contact,
.a-propos,
.boutique,
.categorie-container {
    align-items: center;
}

.header,
footer,
.colored-footer,
.contact,
.button-container {
    justify-content: center;
}

.topbar-container {
    justify-content: space-around;
}

/************************GLOBAL*********************************************/

.topbar-container {
    z-index:1000;
}

.header {
    z-index:1;
}
